#ignore mac files
.DS_Store

#ignore build and log directories
**/build/**
**/log/**

#ignore vscode folder
.vscode/

#ignore doxygen
/docs/html/
/docs/latex/
/docs/man/
/docs/rtf/
/docs/doxygen_sqlite3.db